Water_flow_sensor_MQTT_NODE-RED.json
[{"id":"5d6aacb8.bf8a44","type":"tab","label":"Irrigation","disabled":false,"info":""},{"id":"f7ddce3c.7b6c8","type":"ui_switch","z":"5d6aacb8.bf8a44","name":"","label":"Irrigation","group":"564513d5.099f2c","order":1,"width":"4","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":380,"y":120,"wires":[["2d780a02.e6ab16"]]},{"id":"2d780a02.e6ab16","type":"mqtt out","z":"5d6aacb8.bf8a44","name":"","topic":"/home/irrigation","qos":"0","retain":"","broker":"2dfe1747.bcf7a8","x":720,"y":120,"wires":[]},{"id":"72516599.734f4c","type":"mqtt in","z":"5d6aacb8.bf8a44","name":"","topic":"/home/irrigation","qos":"2","broker":"2dfe1747.bcf7a8","x":140,"y":240,"wires":[["493f3ee9.bf762"]]},{"id":"36158218.65a3de","type":"function","z":"5d6aacb8.bf8a44","name":"add time to payload","func":"\nvar ts_hms = new Date().toLocaleString('es-ES');\nmsg.payload = msg.payload + \" at \" + ts_hms;\nreturn [msg];","outputs":1,"noerr":0,"x":530,"y":240,"wires":[["2aa28b2c.d099f4"]]},{"id":"2aa28b2c.d099f4","type":"ui_text","z":"5d6aacb8.bf8a44","group":"564513d5.099f2c","order":2,"width":"5","height":"2","name":"Irrigation","label":"","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":240,"wires":[]},{"id":"ef7121f3.655aa","type":"inject","z":"5d6aacb8.bf8a44","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"15 05 * * *","once":false,"onceDelay":0.1,"x":111,"y":93,"wires":[["f7ddce3c.7b6c8"]]},{"id":"f3c65536.95ccc8","type":"inject","z":"5d6aacb8.bf8a44","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"x":109.5,"y":54,"wires":[["f7ddce3c.7b6c8"]]},{"id":"1d398270.cce05e","type":"inject","z":"5d6aacb8.bf8a44","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"15 17 * * *","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["f7ddce3c.7b6c8"]]},{"id":"2444be46.7a1262","type":"inject","z":"5d6aacb8.bf8a44","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":0.1,"x":108.5,"y":141,"wires":[["f7ddce3c.7b6c8"]]},{"id":"6ffd7db.1219c84","type":"mqtt in","z":"5d6aacb8.bf8a44","name":"","topic":"/home/irrigation_sensor/water","qos":"2","broker":"2dfe1747.bcf7a8","x":180,"y":300,"wires":[["850ca72c.163ca8","fb28496f.9c60c8"]]},{"id":"850ca72c.163ca8","type":"ui_chart","z":"5d6aacb8.bf8a44","name":"","group":"564513d5.099f2c","order":4,"width":"6","height":"4","label":"Water flow (liters/min)","chartType":"line","legend":"false","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#0000ff","#8080ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":700,"y":300,"wires":[[],[]]},{"id":"21b37e5b.aa8292","type":"ui_gauge","z":"5d6aacb8.bf8a44","name":"Water daily irrigation consumption","group":"564513d5.099f2c","order":3,"width":"2","height":"2","gtype":"wave","title":"Daily","label":" l","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":360,"wires":[]},{"id":"e82e809e.96dff","type":"ui_slider","z":"5d6aacb8.bf8a44","name":"","label":"Water consumption alarm","tooltip":"","group":"564513d5.099f2c","order":6,"width":"9","height":"1","passthru":true,"outs":"end","topic":"irrigation-wateralarm","min":0,"max":10,"step":1,"x":170,"y":420,"wires":[["329879c.65e2286"]]},{"id":"fb28496f.9c60c8","type":"function","z":"5d6aacb8.bf8a44","name":"daily water meter","func":"var d = new Date();\nvar dp = flow.get(\"last-day-irrigation\");\nvar c = 0.00;\n \nif (d.getDate() != dp) {\n    flow.set('daily-water-irrigation',msg.payload);\n    flow.set('last-day-irrigation',d.getDate());    \n} else {\n    c =  parseFloat(flow.get(\"daily-water-irrigation\")) + parseFloat(msg.payload);\n    flow.set('daily-water-irrigation',c);\n}\nmsg.payload = c;\nreturn [msg];","outputs":1,"noerr":0,"x":470,"y":360,"wires":[["21b37e5b.aa8292"]]},{"id":"493f3ee9.bf762","type":"switch","z":"5d6aacb8.bf8a44","name":"if on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":240,"wires":[["36158218.65a3de"]]},{"id":"5a43e49b.f14f1c","type":"switch","z":"5d6aacb8.bf8a44","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"daily-water-alarm","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":420,"wires":[["7456dd1f.54b274","621e5226.e6af8c"]]},{"id":"329879c.65e2286","type":"function","z":"5d6aacb8.bf8a44","name":"daily water alarm","func":"flow.set('daily-water-alarm',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":500,"wires":[["377c9b2b.346624"]]},{"id":"51fb40df.984c5","type":"e-mail","z":"5d6aacb8.bf8a44","server":"smtp.gmail.com","port":"465","secure":true,"name":"mcorts69@icloud.com","dname":"Water irrigation consumption alarm","x":900,"y":420,"wires":[]},{"id":"7456dd1f.54b274","type":"ui_toast","z":"5d6aacb8.bf8a44","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Water irrigation consumption alarm","x":940,"y":480,"wires":[]},{"id":"377c9b2b.346624","type":"ui_text","z":"5d6aacb8.bf8a44","group":"564513d5.099f2c","order":5,"width":"2","height":"2","name":"Daily water alarm limit","label":"Alarm","format":"{{msg.payload}} l","layout":"col-center","x":600,"y":500,"wires":[]},{"id":"f73d24bb.3759f8","type":"inject","z":"5d6aacb8.bf8a44","name":"","topic":"","payload":"1.23","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":560,"wires":[["fb28496f.9c60c8"]]},{"id":"bcf595ed.a58298","type":"inject","z":"5d6aacb8.bf8a44","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":600,"wires":[["e64e12e5.38a9"]]},{"id":"e64e12e5.38a9","type":"function","z":"5d6aacb8.bf8a44","name":"daily water meter","func":"flow.set('daily-water-irrigation',msg.payload);","outputs":1,"noerr":0,"x":350,"y":600,"wires":[[]]},{"id":"621e5226.e6af8c","type":"function","z":"5d6aacb8.bf8a44","name":"add time to payload","func":"\nvar ts_hms = new Date().toLocaleString('es-ES');\nmsg.payload = msg.payload + \" liters consumed. Over the limit of \" + flow.get(\"daily-water-alarm\") + \" at \" + ts_hms;\nreturn [msg];","outputs":1,"noerr":0,"x":620,"y":420,"wires":[["51fb40df.984c5"]]},{"id":"564513d5.099f2c","type":"ui_group","z":"","name":"Irrigation","tab":"35df2abd.ce4ea6","order":7,"disp":true,"width":"9","collapse":true},{"id":"2dfe1747.bcf7a8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"35df2abd.ce4ea6","type":"ui_tab","z":"","name":"Home PMI","icon":"home","order":1,"disabled":false,"hidden":false}]